# Build
bin/
obj/

# User files
*.user
*.suo

# VS Code
.vscode/

# Visual Studio
.vs/

# Rider
.idea/

# Logs
*.log

# Environment
.env

# EF Core local database
*.db
*.db-shm
*.db-wal

# Publish
publish/

# OS
.DS_Store
Thumbs.db
